version: "3.7"
services:
  test:
    build:
      context: ./test
    env_file: ./test/test.env
    volumes:
      - ./test:/home/node/test
    ports:
      - 4000:4000
    depends_on:
      - test-db
  test-db:
    image: mysql:8.0.22
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - 3306:3306
networks:
  default:
    name: ${DOCKER_NETWORK}
